.txt{
	position: relative;
	bottom: 200px;
	left: 70px;
}
.txt h2{
	color: white;
	font-weight: bolder;
	font-size: 50px;
}
.flx{

	display: flex;
}

.add {

list-style-type: none;

}

.copyright-img{
	padding: 5px 5px;
}

.foot{
	background-color: lightgray;
}